body {
  font-family: Georgia, serif;
  margin: 30px 0px 0px 30px;
}

em {
  color: black;
}

h1 {
  color: black;

p {
    margin: 1.4em 0;
  }
}
blockquote {
  border-left: 5px solid #eee;
  padding: 0 0 0 .7em;
  margin: 0;
}

blockquote p {
  font-style: italic;
}
blockquote p em{
  font-style: normal;
}
